#-*- mode: git-ignore; -*-
# See http://help.github.com/ignore-files/ for more about ignoring files.

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Log files
*.log
flask.log

# Python files
*.pyc
*.pyo
__pycache__/

# ML files
*.joblib
*.csv
